:root {
  --main-font: 'Roboto', sans-serif;
  --main-text-color: #212121;
  --secondary-text-color: #808080;
  --body-background-color: #d9dae0;
  --main-background-color: #ffffff;
  --secondary-background-color: #eeeeee;
  --boarder-color: #e0e0e0;
  --button-color: #d9e6e3;
  --accent-color: #9fe0d8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: var(--body-background-color);
}
